---
export const prerender = true;
const SUPPORTED = ['es', 'en'];
const DEFAULT_LANG = 'es';
---

<script>
(function(){
	try {
		var supported = JSON.parse('[[SUPPORTED]]'.replace('[[SUPPORTED]]', JSON.stringify((['es','en']))));
		var lang = null;
		try { lang = localStorage.getItem('preferredLang'); } catch (_) {}
		if (!lang) {
			var langs = (navigator.languages || [navigator.language || '']).map(function(l){return (l||'').toLowerCase();});
			for (var i=0; i<langs.length; i++) {
				var code = (langs[i]||'').split('-')[0];
				if (supported.indexOf(code) !== -1) { lang = code; break; }
			}
		}
		if (!lang) { lang = 'es'; }
		try { localStorage.setItem('preferredLang', lang); } catch(_) {}
		location.replace('/' + lang + '/');
	} catch (e) {
		location.replace('/es/');
	}
})();
</script>

<noscript>
	<meta http-equiv="refresh" content="0; url=/es/" />
	<p>Redirigiendo a <a href="/es/">/es/</a>…</p>
</noscript>
